<div class="modal-bg">
	<div class="modal-box">
		<div class="close">
			<i class="ion-android-close"></i>
		</div>
		<div class="email">
			<a href="mailto:solution@aviano.cc?Subject=Request%20for%20a%20Demo"><div class="email-btn"><i class="ion-email"></i></div></a>
			<a href="mailto:solution@aviano.cc"><div class="lead">solutions@aviano.cc</div></a>
		</div>
		<div class="line"></div>
		<div class="location">
			<div class="address">
				<div><i class="ion-location"></i>Office</div>
				<p>Unit A3-15, Atlas Mall, North Paasdaran St, Niavaran, Tehran, Iran</p>
				<div class="phone"><i class="ion-ios-telephone"></i>+98 21 40220803</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="map">
			<a href="https://maps.app.goo.gl/QJ4rHbXBJZtgEm566" target="_blank">View on Google Maps</a>
		</div>

	</div>

</div>
