<div class="modal-bg">
	<div class="modal-box">
		<div class="close">
			<i class="ion-android-close"></i>
		</div>
		<div class="email">
			<a href="mailto:solutions@triaset.com?Subject=Request%20for%20a%20Demo"><div class="email-btn"><i class="ion-email"></i></div></a>
			<a href="mailto:solutions@triaset.com"><div class="lead">solutions@aviano.cc</div></a>
		</div>
		<div class="line"></div>
		<div class="location">
			<div class="address">
				<div><i class="ion-location"></i>Office</div>
				<p>Unit 808, 8th floor, Shemiran Center, Artesh blvd. Aghdasiye, Tehran, Iran</p>
				<div class="phone"><i class="ion-ios-telephone"></i>+98 21 40220803</div>
			</div>
			<!-- <div class="address">
				<div><i class="ion-location"></i>Operation Office</div>
				<p>Unit 23-5, 5thfloor, Block E1, Jalan PJU 1/42, Dataran Prima, 47301 Petaling Jaya, Selangor, Malaysia</p>
				<div class="phone"><i class="ion-ios-telephone"></i>+603 7880 9562</div>
			</div> -->
		</div>
		<div class="line"></div>
		<div class="map">
			<a href="https://www.google.com/maps/place/ShemiranCenter/@35.7959873,51.5055152,15.57z/data=!4m5!3m4!1s0x0:0xce66de42c16e29e4!8m2!3d35.7991934!4d51.5022969" target="_blank">View on Google Maps</a>
		</div>

	</div>

</div>
